footer {
    background-color: $footer;

    .title-footer {
        text-decoration: none;
    }

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;

        p {
            text-align: center;
        }
    }

    hr {
        border: none;
        height: 1px;
        background-color: $line;
        width: 80%;
        margin: 20px auto;
    }

    .logo {
        width: 200px;
    }
}

@media screen and (max-width: 391px) {
    footer {
        background-color: $footer;
        margin-top: 4rem;
        padding: 2rem 1rem;

        .title-footer {
            text-decoration: none;
            font-size: 1.5rem;
            text-align: center; 
            margin-bottom: 1rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
        }
        p {
            text-align: center;
            font-size: 1.2rem;
        }
    
        hr {
            border: none;
            height: 1px;
            background-color: $line;
            width: 80%;
            margin: 3rem auto;
        }
    
        .logo {
            width: 200px; 
            margin: 1rem auto; 
        }
    }
}
