h1 {
    color: $title;
    font-family: $font-title;
    font-weight: 500;
    font-size: 3.5rem;
    text-align: center;
    margin: 3.5rem;
}

h2 {
    color: $title;
    font-family: $font-title;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    margin: 2.5rem;
}

h3 {
    color: $title;
    font-family: $font-title;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
    text-decoration: underline;
}

a,p,li {
    font-family: $font-text;
    color: $text;
    font-size: 1rem;
}

body {
    padding-top: 10rem;
}

article:nth-of-type(odd) {
    background-color: $background;
}
article:nth-of-type(even) {
    background-color: $light-background;
}

@media screen and (max-width: 391px) {
body {
    padding-top: 0;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem;
}
}