.contact {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 5rem;

    div {
        display: flex;
        flex-direction: column;
    }

    .contact-button {
        gap: 2rem;
        margin-top: 2rem;
    }
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .map {
        text-align: center;
        padding: 5rem;
        width: 60vw;
        height: 45vh;
        filter: grayscale(100%);
    }
}

@media screen and (max-width: 391px) {
    .contact {
        flex-direction: column; // Les éléments s'empilent verticalement
        padding: 2rem;

        div {
            text-align: center; // Assure le centrage
        }

        .contact-button {
            gap: 1rem; // Réduction de l'espacement entre les boutons
            margin-top: 1rem;
        }
    }

    .map-container {
        .map {
            padding: 2rem; // Réduction du padding pour petits écrans
            width: 90vw; // Largueur presque complète
            height: 40vh; // Taille ajustée pour un affichage plus compact
          }
    }
}