.presa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;

    p {
        width: 500px;
    }
}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0rem 3rem;
    padding: 3rem;
    gap: 1rem;

    figure {
        line-height: 0;

        &:hover {
            figcaption {
                background-color: $figaption-hover;
                color: $light-text;
            }

            img {
                filter: grayscale(0%);
            }
        }

        figcaption {
            background-color: $figcaption;
            text-align: center;
            padding: 30px;
            font-weight: 500;
            font-size: 1rem;
            border-radius: 0 0 10px 10px;
            transition: background-color 0.5s ease-in-out;
        }

        img {
            margin: 1rem 0 0 0;
            width: 350px;
            filter: grayscale(100%);
            border-radius: 10px 10px 0 0;
            transition: filter 0.5s ease-in-out;

        }
    }
}

@media screen and (max-width: 391px) {
    .presa {
        flex-direction: column;
        padding: 2rem;

        p {
            width: 100%;
            text-align: justify;
        }

        img {
            width: 300px;
        }
    }

    .grid {
        figure {
            line-height: 1;
            figcaption {
              font-size: 0.8rem;
              padding: 20px;
            }
      
            img {
              width: 100%;
              max-width: 280px; 
            }
        
    }
}
}