.presa-office {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;

    p {
        width: 500px;
    }

    img {
        width: 600px;
    }
}

.formation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3rem;

    .img-doctor {
        width: 350px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        section {
            width: 500px;
        }
    }

}

@media screen and (max-width: 391px) {
    .presa-office {
        flex-direction: column; // Les éléments s'empilent verticalement
        padding: 2rem;

        p {
            width: 100%; // Le texte prend toute la largeur disponible
            text-align: center; // Centrage du texte
            margin-bottom: 1rem; // Espacement entre le texte et l'image
        }

        img {
            width: 100%; // L'image prend toute la largeur disponible
            max-width: 300px; // Limite maximale pour éviter de surcharger l'écran
        }
    }

    .formation {
        flex-direction: column; // Les éléments s'empilent verticalement
        padding: 2rem 1rem;

        .img-doctor {
            width: 100%; // L'image prend toute la largeur disponible
            max-width: 300px; // Limite pour éviter des proportions excessives
            margin-bottom: 1rem; // Espacement sous l'image
        }

        div {
            section {
                width: 100%; // La section prend toute la largeur disponible
            }
        }
    }

}