.news {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
        width: 550px;
    } 
}
.follow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
        max-width: 200px;
    }
}