.news {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
        width: 550px;
    } 
}
.follow {
    .logo-insta {
        width: 250px;
    }
}