.button-doctolib {
background-color: $button-doctolib;
border-radius: 25px;
color: $light-text;
padding: 10px;
font-weight: 400;
transition: ease-in-out 0.5s;

&:hover{
    background-color: $button-doctolib-hover;
}

.logo-doctolib {
    width: 70px;
}
}

.button-message {
background-color: $button-message;
border: 1px $blue-doctolib solid;
border-radius: 25px;
color: $blue-doctolib;
padding: 10px 30px;
font-weight: 400;
transition: ease-in-out 0.5s;

&:hover{
    background-color: $button-message-hover;
}
}

