// Variables couleurs

$light-green : #C8DDC4;
$dark-green : #5b685d;
$blue-doctolib : #107ACA;
$dark-blue-doctolib : #045fae;
$lighter-grey : #EEEEEE;
$light-grey : #DDDDDD;
$grey : #CCCCCC;
$dark-grey : #999999;
$black : #000000;
$white : #ffffff;
$brown: #CA907E;


// Variables textes

$title : $black;
$text : $black;
$font-title : "Montserrat", sans-serif;
$font-text : "Poppins", sans-serif;
$light-text : $white; 
$light-title : $white; 
$light-background : $white;
$background : $light-grey;

$nav : $light-green;
$nav-hover : $dark-green;
$nav-bg-burger : $dark-green;

$nav-category : $grey;
$nav-category-hover : $dark-grey;
$nav-subcategory : $lighter-grey;
$nav-subcategory-hover : $grey;

$figaption-hover : $dark-green;
$figcaption : $light-green;




$footer : $brown;

$line : $white;

$button-doctolib : $blue-doctolib;
$button-doctolib-hover : $dark-blue-doctolib;

$button-message : $white;
$button-message-hover : $grey;




